//==========================
//   APP BUTTON
//==========================
.app--button {
  @include text(14px, '', '');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  color: #000;
  background-image: linear-gradient(45deg, $GREEN 50%, $WHITE 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease;

  outline: none;
  border: none;
  &:hover {
    background-position: left top;
  }
  @media only screen and(max-width:992px) {
    font-size: 12px;
    height: 34px;
    padding: 12px 10px 12px 10px;
    margin: 20px 0;
    border-radius: 6px;
    text-align: left;
  }
}


.black--button {
  @include text(14px, '', '');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  color: $BLACK;

  background-color: rgb(255, 255, 255);

  outline: none;
  border: none;

  @media only screen and(max-width:992px) {
    font-size: 12px;
    height: 34px;
    padding: 12px 10px 12px 10px;
    border-radius: 6px;
  }
}


.black--button--two {
  @include text(14px, '', '');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  color: $BLACK;

  background: $GREEN;
  border-radius: 5px;
  outline: none;
  border: none;

  background-image: linear-gradient(45deg, $WHITE 50%, $GREEN 50%);
  background-size: 250% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease;

  &:hover {
    background-position: left top;
  }

  @media only screen and(max-width:992px) {
    @include text(25px, 0.13em, bold, uppercase);
    height: 34px;
    padding: 12px 10px 12px 10px;
    border-radius: 6px;
  }
}




.green--button {
  @include text(14px, '', '');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  color: $BLACK;

  background: transparent;
  border-radius: 5px;
  outline: none;
  border: none;
  color: $GREEN;
  text-decoration: none;
  text-transform: uppercase;

  background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
  border: 1px solid $GREEN;
  background-size: 250% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease;

  &:hover {
    background-position: left top;
    color: $GREEN;
  }

  @media only screen and(max-width:992px) {
    font-size: 12px;
    height: 34px;
    padding: 12px 10px 12px 10px;
  }
}
